{% extends "app/layoutlt.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django yra nemokamas frameworkas su javascript, css ir html!</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> pradžia </h2>
        <p>
            Siųsti bandymo laišką </a>
           „Django“ suteikia jums galingą modeliais pagrįstą būdą kurti dinamiškas svetaines
            leidžia švariai atskirti rūpesčius ir suteikia galimybę visiškai kontroliuoti žymėjimą
            maloniam, judriam tobulėjimui.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Gaukite daugiau bibliotekų </h2>
        <p> „Python“ paketo rodyklė yra „Python“ programavimo kalbos programinės įrangos saugykla. </p>
        <p> <a class="btn btn-default" href="https://pypi.org/"> Sužinokite daugiau & raquo; </a> </p>
    </div>
    <div class="col-md-4">
        <h2> „Microsoft Azure“ </h2>
        <p> Galite lengvai paskelbti „Microsoft Azure“ naudodami „Visual Studio“. Sužinokite, kaip šiandien galite priglobti programą naudodami nemokamą bandomąją versiją. </p>
        <p> <a class="btn btn-default" href="http://azure.microsoft.com"> Sužinokite daugiau & raquo; </a> </p>
    </div>
</div>

{% endblock %}
